* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 100px;
}

.container {
  margin: 0 auto;
  width: 60%;
  height: 400px;

  position: relative;
  overflow: hidden;
}

.slides {
  display: flex;
  height: 100%;
}

.slide {
  min-width: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: auto;
  filter: brightness(50%);
  /* position: absolute; */
}
.hide-slide {
  display: none;
}

.slide-controls {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#next-btn,
#prev-btn {
  cursor: pointer;
  background: transparent;
  font-size: 30px;
  border: none;
  padding: 10px;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

#next-btn:focus,
#prev-btn:focus {
  outline: none;
}

.dot-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}

.dot.active {
  background-color: white;
}

.slide-content {
  position: absolute;
  top: 75%;
  left: 50px;
  transform: translateY(-50%);
  /* background-color: aqua; */
  color: white;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 40%;
  cursor: grabbing;
}
.heading {
  font-size: 20px;
  text-shadow: 2px 2px 1px black;
}
.content {
  font-size: 30px;
  text-shadow: 2px 2px 1px black;
}

.date {
  font-size: 20px;
  text-shadow: 2px 2px 1px black;
}

@media (max-width: 768px) {
  /* Add responsive styles for smaller screens here */
  .container {
    width: 90%;
  }

  .slide-content {
    position: absolute;
    top: 30%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 20%;
  }
  .content {
    font-size: 15px;
  }

  .date {
    font-size: 15px;
  }

  /* Add more responsive styles as needed */
}
